@model ChatWithMe.Web.Models.Auth.SignUpViewModel
@{
    ViewData["Title"] = "ChatWithMe | Sign Up";
}

<div class="form-layout">
    <div class="default-form">
        <h2>Sign Up</h2>
        <form class="auth-form" asp-action="SignUp" asp-controller="Auth" , asp-antiforgery="true">
            <div class="form-input">
                <label asp-for="Username">Username <sup class="field-required">*</sup></label>
                <input type="text" asp-for="Username">
                <span asp-validation-for="Username"></span>
            </div>

            <div class="form-input">
                <label asp-for="Email">Email <sup class="field-required">*</sup></label>
                <input type="email" asp-for="Email">
                <span asp-validation-for="Email"></span>
            </div>

            <div class="form-input">
                <label asp-for="Password">Password <sup class="field-required">*</sup></label>
                <input type="password" asp-for="Password">
                <span asp-validation-for="Password"></span>
            </div>

            <div class="form-input">
                <label asp-for="ConfirmPassword">Confirm password <sup class="field-required">*</sup></label>
                <input type="password" asp-for="ConfirmPassword">
                <span asp-validation-for="ConfirmPassword"></span>
            </div>

            <div class="form-input">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</div>