@{
    ViewData["Title"] = "ChatWithMe | Sign Up";
}

<div class="form-layout">
    <div class="default-form">
        <h2>Sign Up</h2>
        <form class="auth-form" method="post" role="form">
            <div class="form-input">
                <label for="Username">Username:</label>
                <input type="text" name="Username" class="form-control" />
            </div>

            <div class="form-input">
                <label for="Email">Email:</label>
                <input type="email" name="Email" class="form-control" />
            </div>

            <div class="form-input">
                <label for="Password">Password:</label>
                <input type="password" name="Password" class="form-control" />
            </div>

            <div class="form-input">
                <label for="ConfirmPassword">Confirm password:</label>
                <input type="password" name="ConfirmPassword" class="form-control" />
            </div>
            <div class="form-input">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</div>