@{
    ViewData["Title"] = "ChatWithMe | Sign Up";
}

<h3>Sign Up</h3>
<form method="post" class="form-horizontal" role="form">
    <div class="form-group">
        <label for="Username" class="col-md-2 control-label">Username:</label>
        <div class="col-md-4">
            <input type="text" name="Username" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="Email" class="col-md-2 control-label">Email:</label>
        <div class="col-md-4">
            <input type="email" name="Email" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="Password" class="col-md-2 control-label">Password:</label>
        <div class="col-md-4">
            <input type="password" name="Password" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="ConfirmPassword" class="col-md-2 control-label">Confirm password:</label>
        <div class="col-md-4">
            <input type="password" name="ConfirmPassword" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Send" />
        </div>
    </div>
</form>