<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="~/Auth/SignIn" >Sign In</a></li>
            <li><a href="~/Auth/SignUp" >Sign Up</a></li>
            <li><a href="~/Auth/SignOut">Sign Out</a></li>
        </ul>
    </div>
    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>© 2019 - ChatWithMe</p>
        </footer>
    </div>
</body>
</html>